EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_WELCOME_TEMPLATE_ID=

FRONTEND_URL=https://your-production-domain.com

VERIFICATION_TOKEN_TTL_MINUTES=30

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

MYSQL_ROOT_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GNEWS_API_KEY=
GOOGLE_PLACES_API_KEY=